 <h2>新しいサークル！ 新しい仲間！</h2>
  <h3>\大人のための、共に楽しむサークルと仲間をつくるサイト/</h3>

  <div class="user_top">
    <img src="/assets/user_top.jpeg" class="img_size">
  </div>

  <style type="text/css">

img.img_size {
width: 100%;
height: 250px;
}

</style>

  <div class="explanation">
    <strong><h4>ようこそ、メンバーズへ！</h4></strong>
    <p>こちらは、会員制のサークルマッチングサイトになります。</p>
    <p>新しくサークルを作成したり、他のサークルに参加ができます</p>
    <p>利用の際には、会員登録をお願いします</p>
  </div>
