<div class="container">
  <h2>新しいサークル！ 新しい仲間！</h2>
  <h3>\大人のための、共に楽しむサークルと仲間をつくるサイト/</h3>

  <div class="user_top">
    <img src="/assets/user_top.jpeg">
  </div>

  <div class="explanation">
    <strong>ようこそ、メンバーズへ！</strong>
    <p>こちらは、会員制のサークルマッチングサイトになります。</p>
    <p>新しくサークルを作成したり、他のサークルに参加ができます</p>
    <p>利用の際には、会員登録をお願いします</p>
  </div>
</div>
