<h3>管理者ページにようこそ！</h3>

<div class="admin_top">
  <%= image_tag asset_path("user_top.jpeg"), :size =>'1130x400' %>
</div>

 <style type="text/css">

img.img_size {
width: 100%;
height: 400px;
}
</style>
