<h3>管理者トップ</h3>
<p>ログインして下さい</p>
<div class="user_top">
  <%= image_tag asset_path("user_top.jpeg"), :size =>'1130x400' %>
</div>

<div class="admin_login">
  <%= link_to new_admin_session_path, method: :get do %>
    <h4>ログインは、こちらから
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </h4>
  <% end %>
</div>