
<table class="table table-striped table-bordered">
  <% circles.each do |circle| %>

        <td><strong><%= circle.circle_name %></strong>
        <%= circle.genre %><br>
          <%= link_to users_circle_path(circle.id) do %>
          <%= attachment_image_tag circle, :circle_img, :fill, 120, 90, format: 'jpeg' %>
          <% end %>
          </td>
  <% end %>
</table>

<%#= paginate @circles %>
