<div class="row">
  <div class="col-xs-8">
    <h5>新着サークル</h5>
    <%= render 'users/home_list',circles: @circles %>

    <h5>人気サークル</h5>
    <%= render 'users/home_list',circles: @circles1 %>

    <h5>オススメサークル</h5>
    <%= render 'users/home_list',circles: @circles %>
  </div>
  <div class="col-xs-4">
    <%#= render 'users/circles/search' %>
     <div class="index_go">
      <%= link_to "=>サークル一覧へ", users_circle_index_path(@circle.ids), method: :get %>
    </div>
  </div>
</div>
