<div class="user_top">
  <div class="home_image">
    <#img src="/assets/user_top.jpeg">
  </div>

  <div class="serch_field">
      <%= submit_tag "検索" %>
      <%= link_to "サークル一覧", class: "btn btn-primary" %>
  </div>
</div>

/users/circles/:circle_id/index(.:format)