<div class="row">
  <div class="col-xs-9">
      <%= render 'users/circles/index_circle',circles: @circles %>
  </div>
  <div class="col-xs-3">
    <%= render 'users/circles/search' %>
  </div>
</div>