<div class="row">
  <div class="col-xs-8">
    <%= render 'users/circles/index_circle',circles: @circles %>
  </div>


  <!-- 検索フォーム -->
  <div class="col-xs-4">
    <h4>サークルを検索</h4>
    <div class="search_field">
      <%= form_tag(users_circle_index_path, :method => 'get') do %>
      <%= text_field_tag :search %><br>
      年齢層
      <%#= select_tag "genre", options_for_select([["指定しない","指定しない"],["20代","20代"],["30代","30代"],["40代","40代"],["50代以上","50代以上"]]) %><br>
      ジャンル
      <%#= select_tag "genre", options_for_select([["指定しない","指定しない"],["スポーツ","1"],["遊ぶ","2"],["食べる","3"],["学ぶ","4"],["つくる","5"],["ゲーム","6"],["音楽","7"],["その他","8"]]) %>

      <%= submit_tag '検索', :circle_name => nil %>
      <% end %>
    </div>
  </div>
</div>