<div class="row">
  <div class="col-sm-9 col-xs-12">
    <%= render 'users/circles/index_circle',circles: @circles %>
  </div>
  <div class="col-sm-3 col-xs-12">
    <%= render 'users/circles/search' %>
  </div>
</div>