<div class="row">
  <div class="col-xs-7">
    <%= render 'users/circles/joined_list' %>
  </div>
  <div class="col-xs-5">
    <%= render 'users/host_circles/chat', messages: @messages %>
  </div>
</div>