<div class="row">
  <div class="col-md-7 col-xs-12">
    <%= render 'users/circles/joined_list' %>
  </div>
  <div class="col-md-5 col-xs-12">
    <%= render 'users/host_circles/chat', messages: @messages %>
  </div>
</div>