// Place all the styles related to the users::circles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//------ サークル一覧画面 ------//
.index_list{
  margin: 0 0 50px 0;
}

//------ サークル検索画面 ------//
.seach_box {
  width: 100%;
  hight: 40px;
  padding-right: 30%;
  border: solid black 1px;
  margin: 10px auto;
}

//------ 検索フォーム ------//
.search_field {
  position: fixed;
  margin: 0 auto;
  padding: 5px;
  top: 140px;
  width: 20%;
  height: 300px;
  background: #87CEFA;
}

.search_field input[type="text"] {
  width: 100%;
  height: 30px;
  }

.search_field input[type="submit"] {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  }

//------ サークル新規作成画面 ------//
.new_circle_item {
  border-collapse: separate;
  border-spacing: 0px 20px;
}

.new_circle input[type="text"] {
  width: 200px;
  margin-top: 15px;
  }

.new_circle input[type="number"] {
  width: 185px;
  margin-top: 15px;
  }

.create_button {
  text-align: right;
}

//------ サークル詳細画面 ------//
/*------ 画面左 ------*/
.circle_profile {
  padding-top: 5px;
  width: 100%;
  height: 460px;
  border-bottom: solid black 2px;
  border-right: solid black 2px;
  border-left: solid black 2px;
}

.profile_name {
  width: 100%;
  height: 65px;
  margin-top: 20px;
  padding: 0 0 0 10px;
  background: #87CEFA;
  color: #FFF;
  border-top: solid black 2px;
  border-right: solid black 2px;
  border-left: solid black 2px;
}

.genre_name {
  padding-left: 30px;
}

.circle_show_img {
  padding: 0 30px 10px 12%;
}

.circle_host_img {
  margin: 10px 0 0 30px;
  float: left;
}

.host_name {
  margin: 30px 0 0 20px;
  float: left;
}

/*------ 画面右 ------*/
.circle_item {
  margin: 80px 0 -20px 0;
}

.explanation_box {
  width: 100%;
  height: 170px;
  padding: 5px 5px;
  background: #87CEFA;
}

.cicle_explanation {
  width: 100%;
  height: 135px;
  padding: 5px;
  background: #FFF;
}

.user_button {
  margin-top: 10px;
  text-align: right;
}

//------ 主催・参加サークルリスト ------//
.panel-title {
  text-align: left;
}

.panel-heading {
  height: 30px;
}

.panel-body {
  height: 80px;
}

.circle_list_img  {
  float: left;
}

.circle_report {
  float: left;
  margin-left: 20px;
}

.host_authorize {
  float: right;
}

.host_icon {
  float: right;
}

