// Place all the styles related to the users::circles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_field {
  width: 100%;
  height: 300px;
  background: #87CEFA;
}

